@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: #282c33;
  font-family: "Fira Code", monospace;
}

/* theme freestyle */
.navbarTheme{
  background-color: #303337;
}
.heroTheme{
  background-color: #303337;
}